In [127]:
import pandas as pd

In [128]:
tour_df = pd.read_excel('/Users/nirajanpaudel17/Documents/Python/Tour-Recommendation-System/tour-dataset.csv.xlsx')

In [129]:
tour_df.reset_index(inplace=True)

In [130]:
tour_df.head()

,index,Title,Overview,Genres,Keywords
0,0,Everest Base Camp Trek,Embark on a legendary adventure to the base ca...,Adventure,"Everest, Base Camp, Trek, Adventure, Khumbu, S..."
1,1,Annapurna Circuit Trek,Embark on a classic trekking journey around th...,Adventure,"Annapurna, Circuit, Trek, Adventure, Thorong L..."
2,2,Poon Hill Trek,Experience a short yet rewarding trek to Poon ...,Adventure,"Poon Hill, Trek, Adventure, Sunrise, Annapurna..."
3,3,Langtang Valley Trek,Embark on a scenic trek through the enchanting...,Adventure,"Langtang, Valley, Trek, Adventure, Langtang Na..."
4,4,Ghorepani Trek,Experience the beauty of the Annapurna region ...,Adventure,"Ghorepani, Trek, Adventure, Poon Hill, Annapur..."

In [131]:
len(tour_df)

50

In [132]:
tour_df['Overview'][0]

"Embark on a legendary adventure to the base camp of Mount Everest, the world's highest peak. Trek through the picturesque Khumbu region, passing Sherpa villages, suspension bridges, and serene monasteries. Experience breathtaking views of Everest, Lhotse, Nuptse, and other majestic Himalayan peaks. Immerse yourself in the Sherpa culture, visit the iconic Tengboche Monastery, and witness the rich biodiversity of Sagarmatha National Park. This challenging trek is a bucket-list adventure for every mountain enthusiast."

In [133]:
tour_df.isnull().sum()

index       0
Title       0
Overview    0
Genres      0
Keywords    0
dtype: int64

In [134]:
tour_df.duplicated().sum()

0

In [135]:
tour_df['Genres'].unique()

array(['Adventure', 'Wildlife, Safari', 'Sightseeing', 'Pilgrimage',
       'Wellness', 'Photography'], dtype=object)

In [136]:
tour_df.columns

Index(['index', 'Title', 'Overview', 'Genres', 'Keywords'], dtype='object')

Let's merge all the information of every columns in one column.

In [137]:
tour_df['info'] = tour_df['Overview'] + tour_df['Genres'] +" "+ tour_df['Keywords']

In [138]:
tour_df['info'][0]

"Embark on a legendary adventure to the base camp of Mount Everest, the world's highest peak. Trek through the picturesque Khumbu region, passing Sherpa villages, suspension bridges, and serene monasteries. Experience breathtaking views of Everest, Lhotse, Nuptse, and other majestic Himalayan peaks. Immerse yourself in the Sherpa culture, visit the iconic Tengboche Monastery, and witness the rich biodiversity of Sagarmatha National Park. This challenging trek is a bucket-list adventure for every mountain enthusiast.Adventure Everest, Base Camp, Trek, Adventure, Khumbu, Sherpa, Sagarmatha National Park, Tengboche Monastery"

In [140]:
tour = tour_df[['index','Title','info']]

In [182]:
tour.head(20)

,index,Title,info
0,0,Everest Base Camp Trek,e m b a r k o n a l e g e n d a r y a ...
1,1,Annapurna Circuit Trek,e m b a r k o n a c l a s s i c t r e ...
2,2,Poon Hill Trek,e x p e r i e n c e a s h o r t y e t ...
3,3,Langtang Valley Trek,e m b a r k o n a s c e n i c t r e k ...
4,4,Ghorepani Trek,e x p e r i e n c e t h e b e a u t y o ...
5,5,Upper Mustang Trek,e m b a r k o n a m y s t i c a l j o ...
6,6,Manaslu Circuit Trek,e m b a r k o n a n e p i c a d v e n ...
7,7,Gokyo Lakes Trek,j o u r n e y t o t h e m e s m e r i z ...
8,8,Mardi Himal Trek,e m b a r k o n a n e n c h a n t i n g ...
9,9,Helambu Trek,e x p l o r e t h e p i c t u r e s q u e ...
10,10,Rara Lake Trek,e m b a r k o n a s c e n i c t r e k ...
11,11,Kanchenjunga Base Camp Trek,e m b a r k o n a c h a l l e n g i n g ...
12,12,Nar Phu Valley Trek,d i s c o v e r t h e h i d d e n t r e ...
13,13,Everest View Trek,e x p e r i e n c e t h e w o n d e r s ...
14,14,Makalu Base Camp Trek,e m b a r k o n a n a d v e n t u r o u ...
15,15,Dolpo Trek,e m b a r k o n a r e m o t e a n d ...
16,16,Jomsom Muktinath Trek,e m b a r k o n a c l a s s i c t r e ...
17,17,Annapurna Base Camp Trek,e m b a r k o n a c l a s s i c t r e ...
18,18,Shivapuri Hiking,e n j o y a r e f r e s h i n g h i k e ...
19,19,Chitwan National Park Safari,e m b a r k o n a n e x c i t i n g w ...

In [142]:
tour['info'] = tour['info'].apply(lambda x:x.lower())

/var/folders/jm/g978mxy128vghxxjgmlf7cfc0000gn/T/ipykernel_31244/661001217.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tour['info'] = tour['info'].apply(lambda x:x.lower())

In [143]:
tour['info'][30]

"soar through the sky and experience the freedom of flight with paragliding in pokhara. take off from sarangkot and enjoy a bird's-eye view of the stunning pokhara valley, phewa lake, and the annapurna range. feel the wind in your hair, glide through the air, and witness the beauty of nature from a different perspective. this thrilling adventure will leave you with unforgettable memories and a sense of awe for the majestic himalayas.adventure paragliding, pokhara, adventure, sarangkot, pokhara valley, phewa lake, annapurna"

In [144]:
from sklearn.feature_extraction.text import CountVectorizer

In [145]:
vectorizer = CountVectorizer(max_features=1000,stop_words='english')

In [146]:
vector = vectorizer.fit_transform(tour['info']).toarray()  # it is changed to array to give input to cosine_similarity

In [147]:
vector.shape

(50, 698)

In [148]:
import nltk

In [149]:
from nltk.stem.porter import PorterStemmer

In [150]:
stemmer = PorterStemmer()

In [151]:
def stem_words(text):
    stemmed = []
    for i in text:
        stemmed.append(stemmer.stem(i))
    return (' '.join(stemmed))

In [152]:
tour['info'] = tour['info'].apply(stem_words)

/var/folders/jm/g978mxy128vghxxjgmlf7cfc0000gn/T/ipykernel_31244/1787661291.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tour['info'] = tour['info'].apply(stem_words)

In [153]:
from sklearn.metrics.pairwise import cosine_similarity

In [154]:
similarity = cosine_similarity(vector)

In [159]:
len(similarity)

50

In [180]:
def recommend_tour(tour_name):
    tour_index = tour[tour['Title']==tour_name].index[0]
    distances = similarity[tour_index]
#     print(sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1]))
    tour_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:6]
    
    for i in tour_list:
        print(tour.iloc[i[0]].Title)

In [181]:
recommend_tour('Poon Hill Trek')

Ghorepani Trek
Annapurna Circuit Trek
Annapurna Base Camp Trek
Helambu Trek
Mardi Himal Trek

In [183]:
recommend_tour('Chitwan National Park Safari')

Bardia National Park Safari
Wildlife Safari in Shuklaphanta National Park
Bardia Jungle Safari
Koshi Tappu Wildlife Reserve Tour
Manaslu Circuit Trek